{% load static %}
{% load i18n %}

<header>
  {% with request.resolver_match.view_name as view_name %}
    <!-- Верхняя панель -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <!-- Логотип -->
          <a class="navbar-brand mx-2" href="{% url "homepage:welcome" %}">
            <img src="{% static 'img/logo.png' %}" alt="21" width="50" height="50">
          </a>

          {% if view_name|default:''|slice:":5" != 'users' and request.user.is_authenticated %}
            <!-- Кнопка для боковой панели (видна только на маленьких экранах) -->
            <button class="btn btn-light d-lg-none me-2 menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
              <i class="bi-list prime-color"></i>
            </button>
          {% endif %}
        </div>

        <!-- Иконка профиля -->
        {% if request.user.is_authenticated %}
          <div class="nav-item dropdown mx-2">
            <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{% if request.user.profile.image %}{{ request.user.profile.get_image_300x300.url }}{% else %}{% static 'img/no-avatar.jpg' %}{% endif %}" alt="{% translate "Аватар" %}" style="border-radius: 50%;" width="50" height="50">
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url "users:profile" %}">{% translate "Мой профиль" %}</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">{% translate "Выйти" %}</a></li>
            </ul>
          </div>
        {% else %}
          <div class="nav-item mx-2">
            {% if view_name == 'users:login' %} <a class="nav-link active disabled" aria-disabled="true"> {% else %} <a class="nav-link" href="{% url "users:login" %}"> {% endif %}
              {% translate "Войти" %}
            </a>
          </div>
        {% endif %}
      </div>
    </nav>
  {% endwith %}

  <!-- Модальное окно выхода из аккаунта -->
  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="logoutModalLabel">{% translate "Выход" %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          {% translate "Вы уверены, что хотите выйти?" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Нет, остаться" %}</button>
          <a href="{% url "users:logout" %}" class="btn btn-outline-danger" role="button">
            {% translate "Выйти" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
