{% load static %}
{% load i18n %}

<header>
  <!-- Верхняя панель -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
      <div>
        <!-- Логотип -->
        <a class="navbar-brand mx-2" href="{% url "homepage:welcome" %}">
          <img src="{% static 'img/logo.png' %}" alt="21" width="50" height="50">
        </a>

        {% if request.user.is_authenticated %}
          <!-- Кнопка для боковой панели (видна только на маленьких экранах) -->
          <button class="btn btn-light d-lg-none me-2 menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
            <i class="bi-list prime-color"></i>
          </button>
        {% endif %}
      </div>

      <!-- Иконка профиля -->
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% with request.resolver_match.view_name as view_name %}
            {% if request.user.is_authenticated %}
              <li class="nav-item my-auto">
                {% if view_name == 'users:profile' %} <a class="nav-link active disabled" aria-disabled="true"> {% else %} <a class="nav-link" href="#"> {% endif %}
                  {{ user.username }}
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                {% if view_name == 'users:login' %} <a class="nav-link active disabled" aria-disabled="true"> {% else %} <a class="nav-link" href="{% url "users:login" %}"> {% endif %}
                  {% translate "Войти" %}
                </a>
              </li>
            {% endif %}
          {% endwith %}

        </ul>
      </div>
    </div>
  </nav>
</header>
