$primary: rgb(108, 180, 180);
$primary_l: #{lighten($primary, 15%)};
$secondary: rgb(87, 87, 87);

/* lg-экраны */
@media (min-width: 992px) {
  .hero-text {
    font-size: 3em;
  }

  .hero-btn {
    --bs-btn-padding-y: .75rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.2rem;
  }

  .left-panel {
    margin-left: 10px;
  }

  .round-img {
    height: 200px;
    width: 200px;
  }
}

/* sm-экраны */
@media (max-width: 991px) {
  .hero-text {
    font-size: 2em;
  }

  .hero-btn {
    --bs-btn-padding-y: .5rem;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-font-size: 1rem;
  }

  .round-img {
    height: 100px;
    width: 100px;
  }
}

.left-panel {
  font-size: 1.5em;
}

.navbar {
  height: 90px;
}

.menu-btn {
  width: 60px;
  height: 60px;
  --bs-btn-padding-x: 0;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  line-height: 1;
}

// .offcanvas-lg {
//   top: 0;
//   left: 0;
//   width: 250px;
//   height: 100vh;
//   z-index: 1050;
//   background-color: rgb(248, 249, 250);
// }

.prime-color {
  color: #{$primary};
}

.lighter-prime-color {
  color: #{$primary_l};
}

.secondary-color {
  color: #{$secondary};
}

.btn-primary {
  --bs-btn-bg: #{$primary};
  --bs-btn-border-color: #{$primary};
  --bs-btn-hover-bg: #{darken($primary, 10%)};
  --bs-btn-hover-border-color: #{darken($primary, 10%)};
  --bs-btn-active-bg: #{darken($primary, 20%)};
  --bs-btn-active-border-color: #{darken($primary, 20%)};
  --bs-btn-disabled-bg: #{lighten($primary, 15%)};
  --bs-btn-disabled-border-color: #{lighten($primary, 15%)};
}

.icon-active {
  font-size: 1em;
  color: #{$primary};
}

.icon-disabled {
  font-size: 1em;
  color: #{$primary_l};
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #{darken($primary, 10%)} !important;
}

.round-img {
  border-radius: 50%;
}

.addfile {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: red;
}

.completed {
  background-color: #c8e6c9;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* Фиксированная ширина ячеек */
}

.calendar-table td {
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 0 0 0 1px;
}

// .calendar-table .calendar-cell {
//   padding: 0;
// }

.calendar-table .day-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
}

.calendar-table .empty {
  background-color: #f9f9f9;
}

.calendar-table .completed {
  background-color: #{$primary_l};
}

.calendar-table .completed .day-circle {
  color: white;
}

.calendar-table .today {
  background-color: white;
}

.calendar-table .today .day-circle {
  background-color: rgb(170, 170, 170);
  color: white;
}

.calendar-table .completed-today {
  background-color: #{$primary_l};
}

.calendar-table .completed-today .day-circle {
  background-color: rgb(170, 170, 170);
  color: white;
}

// --

.badge-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--badge-color, transparent);
}

.day-100 {
  --badge-color: #{$primary_l};
}

.day-current {
  --badge-color: rgb(170, 170, 170);
}

// --

.progress-bar {
  transition: height 0.5s ease;
}
